@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

header {
  background-color: rgb(0, 0, 0);
  padding: -10px;
    font-family: 'Poppins', sans-serif;
}

.logo {
  float: left;
}

.logo img {
  height: 60px;
  width: auto;
}

nav ul {body{
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(0, 0, 0);
  padding: 20px;
}

.logo {
…}

  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
 }



nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
  color: #fff;
  border-radius: 5px;
}

nav ul li a.active {
  background-color: rgb(145, 255, 0);
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

bjetivo da Loj
}

.logo img {
  height: 60px;
  width: auto;
}


h1 {
  margin: 0;
}

.container {
  margin-top: 40px;
}

.container p {
  margin-bottom: 20px;
}

.names-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.name {
  margin: 0 10px;
}

.name-text {
  font-weight: bold;
}

.role {
  display:


}


.sobre {
  position: fixed;
top: 130px;
left: 350px;

}



.texto {
  position: fixed;
top: 200px;
 font-family: 'Poppins', sans-serif;
 text-align: center;

}

.logo2 {
position: fixed;
align-content: center;
}

.container {
    text-align: center;
}

.container img {
    display: inline-block;
}
